OPENFOAM_BASENAME       = 'http://openfoam.example.com'
GRAFANA_BASENAME        = 'http://grafana.example.com'

S3_ACCESS_KEY_ID        = 'your-s3-key'
S3_SECRET_ACCESS_KEY    = 'your-s3-secret-key'
S3_HOST                 = 's3-host'
S3_PORT                 = 8443

SNAP_SERVICE            = 'snap-api-root'
INFLUX_DB_HOST          = 'influxdb-host'
INFLUX_DB_PORT          = 8086
INFLUX_DB_NAME          = 'snap'
INFLUX_DB_USER          = 'admin'
INFLUX_DB_PASS          = 'admin'

# Dedicated openfoam network settings
OPENFOAM_NETWORK_PREFIX = 'openfoam'
OPENFOAM_NETWORK_CIDR = 'your desired network CIDR'
OPENFOAM_NETWORK_ALLOCATION_POOL_START = 'your IP allocation range start'
OPENFOAM_NETWORK_ALLOCATION_POOL_END = 'your IP allocation range end'
OPENFOAM_NETWORK_GATEWAY_IP = 'your gateway IP usually the first IP in CIDR range'

# Location of the folder, where the NFS is mounted. If the scheduler daemon is running on the same machine as the
# NFS server, then just point to the folder where you want the simulation results to be saved
LOCAL_NFS_MOUNT_LOCATION = "/mnt/nfs_mount_example"

# Configuration of compute providers available for executing OpenFOAM simulations
PROVIDER_CONFIG = [
    {
        # Provider name
        'NAME': 'Openstack',
        # Type of provider, use class name of provider implementation
        'TYPE': 'ofcloud.provider.provider_openstack.OpenstackProvider',
        # Network file storage server ip address for this provider
        'NFS_ADDRESS': '10.10.0.1',
        # Location of locally mounted NFS folder. If the scheduler is running on the same machine as the NFS server,
        # use the folder where you want the simulation results to be saved in
        'LOCAL_NFS_MOUNT_LOCATION': '/mnt/openstack_nfs',
        # Location OpenFOAM case files and results on the NFS server
        'NFS_SERVER_MOUNT_FOLDER': '/export/openfoam-cases',
        # Overrides the number of maximum cpu's used for calculation. Example: openstack allows use of maximum 24 vcpus.
        # Our setting allows only 12. The scheduler_deamon will run new simulations until 12 vcpu's are used on nova.
        # If this setting value is higher than nova's max VCPU quota, the latter will be respected.
        'MAX_CPU_USAGE': 4,
        # Overrides the number of maximum instances used. Example: openstack allows use of 10 instances. Our setting
        # allows only 5. The scheduler_deamon will run new simulations until 5 instances are used on nova.
        # If this setting value is higher than nova's max instance quota, the latter will be respected.
        'MAX_INSTANCE_USAGE': 2
    },
    {
        # Provider name
        'NAME': 'Amazon',
        # Type of provider, use class name of provider implementation
        'TYPE': 'ofcloud.provider.provider_amazon.AmazonProvider',
        # Network file storage server ip address for this provider
        'NFS_ADDRESS': '10.10.0.1',
        # Location of locally mounted NFS folder. If the scheduler is running on the same machine as the NFS server,
        # use the folder where you want the simulation results to be saved in
        'LOCAL_NFS_MOUNT_LOCATION': '/mnt/amazon_nfs',
        # Location OpenFOAM case files and results on the NFS server
        'NFS_SERVER_MOUNT_FOLDER': '/export/openfoam-cases',
        # Overrides the number of maximum cpu's used for calculation. For amazon this means the maximum total number of
        # cpus used by openFoam calculations.
        'MAX_CPU_USAGE': 4,
        # Overrides the number of maximum instances used. For amazon this means the maximum total number of virtual
        # machines used by openFoam calculations.
        'MAX_INSTANCE_USAGE': 2,
        # Amazon region, where this provider will deploy virtual machines
        'REGION': 'us-west-2'
    }
]

# Scheduler daemon settings
SCHEDULER_REFRESH_INTERVAL_SECONDS = 'desired scheduler daemon refresh interval in seconds'

# Maximum number of launch retries of one instance. When this limit is reached, the simulation instance enters the
# 'FAILED' state
OPENFOAM_SIMULATION_MAX_RETRIES = 3
